body{
    background-color: #F1F2F4;
    /* background-color: #F1F2F4; */
    margin: 10px;
}

.left-down{
    display: flex;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    /* align-items: center; */
   

}

.product-cell{
    
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    cursor: pointer;
    

}

.product-name{
    font-family: arial, sans-serif;
    text-align: center;
}

.product-price{
    font-family: arial, sans-serif;
    font-weight: 600;
    text-align: center;
}

.product-picture{
    width: 200px;
    height: 200px;
}

.product-picture:hover{
    width: 201px;
    height: 201px;
}

.scroll-arrow{
    background-color: #1C41D6;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px; 
    padding-right: 9px; 
    cursor: pointer;
}

.content-info{
    /* flex: 1; */
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(33, 33, 33);
    cursor: pointer;
}